@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: aquamarine;
    font-family: "Roboto", serif !important;
}

.container.av-logo-container {
    /* height: 90px !important; */
    display: flex;
}

.socket_color {
    background-color: #EC5800 !important;
    border-color: #eee;
    color: #fff !important;
}

.container_wrap_meta {
    background-color: #EC5800 !important;
}

.header_color div,
.phone-info a,
.header_color .social_bookmarks a {
    color: white !important;
}

.pagefooter .widgettitle,
.main_color a,
.main_color span {
    color: #fff !important;
}

#top #wrap_all .avia-button.av-ckps7k1-169d49588344e2a7c6cb0a68738d0d8c {
    background-color: #EC5800 !important;
    border-color: #EC5800 !important;
}

.pagefooter li {
    border-color: #fff;
}

avia_textblock av_inherit_color>h2 {
    color: black !important;
}

#top .av_inherit_color * {
    color: black !important;
}

.header_color .avia-menu-fx {
    background-color: #EC5800;
}

.html_header_top .header_color .main_menu ul:first-child >li > ul, .html_header_top #top .header_color .avia_mega_div > .sub-menu {
    border-top-color: #EC5800 !important;
}

.main_color .image-overlay .image-overlay-inside:before{
    background-color: #EC5800 !important;
}

#phoenix-cards{
    background-color: aqua;
    margin-top: 40px;
}

.card-row{
    display: flex;
    justify-content: space-between;
}

.phoenix-card img{
    width: 568px;
}

@media (max-width: 768px) {
    .card-row {
        flex-direction: column;
    }
}